<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceEndpoint" value="net.tcp://localhost:1451/DataServer" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=qpms2026;Integrated Security=SSPI;Pooling=false;" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="eXpressAppFramework" value="3" />
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
